<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="container">       
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h1 class="navbar-brand">Salam alamalejkum</h1>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" asp-controller="App" asp-action="Index">Domov</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-controller="App" asp-action="Contact">Kontakt</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-controller="App" asp-action="About">O nas</a>
                    </li>
                </ul>
            </div>  </nav>
    </header>

    <section class="container">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer class="container">
        <div class="text-center">Copyright kys lol 2022 Madagaskar</div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>